/* Add CSS Styling */
.black-button{
    background-color: black;
    color: white;
    font-size: 28px;
    font-family: 'Helvetica','Times New Roman', Times, serif;

}
.yellow-button{
    background-color: yellow;
    font-size: 28px;
    font-family: 'Helvetica','Times New Roman', Times, serif;
}
